/* styles.css */
body {
    background-color: #f4f4f4;
    color: #333;
    font-family: Arial, sans-serif;
}

/* Estilo normal del botón */
.stButton>button {
    background-color: #0041f5;
    color: white;
    font-weight: normal;
    border-radius: 8px; /* Opcional: bordes redondeados */
    border: none; /* Elimina bordes */
    padding: 8px 16px;
    transition: all 0.3s ease-in-out;
}

/* Estilo cuando el cursor pasa por encima (hover) */
.stButton>button:hover {
    background-color: white;
    color: #0041f5;
    font-weight: bold;
    border: 2px solid #0041f5; /* Opcional: agregar borde azul en hover */
}

/* Estilo cuando el botón está clicado */
.stButton>button:focus {
    background-color: #0041f5;
    color: white;
    font-weight: normal;
    border-radius: 8px; /* Opcional: bordes redondeados */
    border: none; /* Elimina bordes */
    padding: 8px 16px;
    transition: all 0.3s ease-in-out;
    outline: none;
}


/* Estilos para los inputs */
.stSelectbox, .stSlider, .stNumberInput {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

/* Título principal */
h1 {
    color: #0041f5;
    text-align: center;
}

/* Subtítulos */
h2, h3 {
    color: #333;
    text-align: center;
}

/* Contenedor principal */
div.block-container {
    padding-top: 20px;
    padding-bottom: 20px;
}
